@charset "utf-8";
body {
    background-color: #EDE3AF;
}

.text .dummy {
	font-family: 'Lobster', cursive;
}

#css {
    font-size: small;
}

.headers {
    font-style: italic;
    color: #FFFFFF;
    border: 10px double #FFD92F;
    border-radius: 14px;
    background-color: #000000;
    width: 237px;
    min-width: 0px;
    height: 169px;
    text-align: center;
}
